{% extends 'base-admin.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style-admin.css')) }} ">{% endblock %}

{% block title %}Back-office{% endblock %}

{% block body %}
<nav style="background-color: #2A3F54;">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ absolute_url(asset('assets/img/man.png'))}}"/> {{ app.user.username }}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url("security_logout")}}">Se déconnecter</a>
            </div>
        </li>
    </ul>
</nav>

<div class="container">
    <h4>Suivi des contacts</h4>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Réponse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.dateMessage ? contact.dateMessage|date('d/m/Y') : '' }}</td>
                    <td>{{ contact.name }}</td>
                    <td><a href="mailto:{{ contact.email }}" class="mailto">{{ contact.email }}</a></td>
                    <td>{{ contact.message }}</td>
                    <td> {{ contact.response ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('contact_edit', {'id': contact.id}) }}"><span>Traiter</span></a>
                        {# <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                        <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a> #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de messages</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{# scripts Bootstrap JS #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}